cache=/tmp/npm-safe-cache
tmp=/tmp
fund=false
audit=false
update-notifier=false
progress=false
optional=false
package-lock=false
shrinkwrap=false
save-exact=false
package-lock-only=false
engine-strict=false
registry=https://registry.npmjs.org/
timeout=120000
