cache=/tmp/npm-deployment-cache
tmp=/tmp
prefix=/tmp/npm-prefix
store-dir=/tmp/npm-store
logs-dir=/tmp/npm-logs
init-cache=/tmp/npm-init
userconfig=/tmp/.npmrc-user
globalconfig=/tmp/.npmrc-global
fund=false
audit=false
update-notifier=false
progress=false
package-lock=false
shrinkwrap=false
optional=false
save-exact=false
engine-strict=false
registry=https://registry.npmjs.org/
timeout=300000
fetch-timeout=300000
fetch-retry-maxtimeout=120000
fetch-retry-mintimeout=10000